# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor & OS
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.sublime-*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
